In [1]:
import json

import numpy as np
import pandas as pd

from main.data.session_dataset import SessionDataset

In [2]:
embedding_source_name = "openai"

In [3]:
embeddings = pd.read_csv(f"product_embeddings_{embedding_source_name}.csv.gz")
embeddings

,ItemId,embedding,class,category_size
0,1504,"[-0.008468648418784142, 0.014345130883157253, ...",0,[]
1,564,"[0.019681310281157494, 0.009377948939800262, -...",1,NaN
2,9963,"[-0.00300808809697628, -0.007103437092155218, ...",2,NaN
3,9839,"[0.0053097945638000965, 0.0017624408937990665,...",3,NaN
4,4132,"[-0.006986561696976423, -0.0015255995094776154...",2,NaN
...,...,...,...,...
12096,5210,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",168,NaN
12097,12017,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",77,NaN
12098,122,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",14,NaN
12099,9757,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",44,NaN
12100,5359,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",11,NaN

In [4]:
embeddings["embedding"] = [np.array(json.loads(emb)) for emb in embeddings["embedding"]]
embeddings

,ItemId,embedding,class,category_size
0,1504,"[-0.008468648418784142, 0.014345130883157253, ...",0,[]
1,564,"[0.019681310281157494, 0.009377948939800262, -...",1,NaN
2,9963,"[-0.00300808809697628, -0.007103437092155218, ...",2,NaN
3,9839,"[0.0053097945638000965, 0.0017624408937990665,...",3,NaN
4,4132,"[-0.006986561696976423, -0.0015255995094776154...",2,NaN
...,...,...,...,...
12096,5210,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",168,NaN
12097,12017,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",77,NaN
12098,122,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",14,NaN
12099,9757,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",44,NaN
12100,5359,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",11,NaN

In [5]:
dataset = SessionDataset.from_pickle("dataset.pickle")
dataset

In [6]:
dataset.set_item_data(embeddings)

In [7]:
dataset.to_pickle(f"{embedding_source_name}_augmented_dataset.pickle")