In [1]:
import json

import numpy as np
import pandas as pd

from main.data.session_dataset import SessionDataset

In [2]:
embedding_source_name = "palm"

In [3]:
embeddings = pd.read_csv(f"product_embeddings_{embedding_source_name}.csv.gz")
embeddings

,ItemId,embedding,class,category_size
0,0,"[-0.0017530571203678846, -0.018724659457802773...",0,[]
1,1,"[-0.0075731645338237286, -0.009010646492242813...",1,[]
2,2,"[0.005371786653995514, -0.015523810870945454, ...",2,[]
3,3,"[0.005268861539661884, -0.0027648929972201586,...",3,[]
4,4,"[-0.002920949598774314, -0.014781027100980282,...",4,[]
...,...,...,...,...
11779,11779,"[-0.005223792977631092, -0.029400117695331573,...",130,[]
11780,11780,"[0.01802239753305912, -0.011706342920660973, -...",104,[]
11781,11781,"[0.007281077094376087, -0.026898358017206192, ...",30,[]
11782,11782,"[0.016294261440634727, -0.03747669979929924, -...",601,[]
11783,11783,"[-0.006634311284869909, -0.017368091270327568,...",24,[]

In [4]:
embeddings["embedding"] = [np.array(json.loads(emb)) for emb in embeddings["embedding"]]
embeddings

,ItemId,embedding,class,category_size
0,0,"[-0.0017530571203678846, -0.018724659457802773...",0,[]
1,1,"[-0.0075731645338237286, -0.009010646492242813...",1,[]
2,2,"[0.005371786653995514, -0.015523810870945454, ...",2,[]
3,3,"[0.005268861539661884, -0.0027648929972201586,...",3,[]
4,4,"[-0.002920949598774314, -0.014781027100980282,...",4,[]
...,...,...,...,...
11779,11779,"[-0.005223792977631092, -0.029400117695331573,...",130,[]
11780,11780,"[0.01802239753305912, -0.011706342920660973, -...",104,[]
11781,11781,"[0.007281077094376087, -0.026898358017206192, ...",30,[]
11782,11782,"[0.016294261440634727, -0.03747669979929924, -...",601,[]
11783,11783,"[-0.006634311284869909, -0.017368091270327568,...",24,[]

In [5]:
dataset = SessionDataset.from_pickle("dataset.pickle")
dataset

In [6]:
dataset.set_item_data(embeddings)

In [7]:
dataset.to_pickle(f"{embedding_source_name}_augmented_dataset.pickle")